* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-family: Lato, serif;
}

.separator {
  align-self: center;
  width: 4.8rem;
  height: 3px;
  background: #ec5242;
  margin: 0.7rem auto 4rem;
}

.h2dark {
  font-size: 2rem;
  font-weight: 600;
  color: #272a31;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 3rem 0 1rem;
}

.h2light {
  font-size: 2rem;
  font-weight: 600;
  color: #d3d3d3;
  letter-spacing: 0.2rem;
  text-align: center;
  padding: 3rem 0 1rem;
}

/* NavBar */
header {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 60vw;
  height: 100vh;
  z-index: 10;
  padding: 2rem 1rem 2.8rem 2.8rem;
  background: #272a31;
  opacity: 0.97;
}

header ul {
  list-style: none;
}

header ul li {
  padding-bottom: 1.8rem;
}

header ul li a {
  text-decoration: none;
  font-size: 1.6rem;
  color: #d3d3d3;
}

.nav-menu {
  display: flex;
  flex-direction: column;
}

.nav-image {
  width: 100px;
  margin: 2rem 0;
}

/* Headline */
#headline {
  width: 100%;
  background-image: url("./media/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#open-menu {
  cursor: pointer;
  position: absolute;
  top: 2rem;
  left: 2.5rem;
  color: #272a31;
}

#close-menu {
  cursor: pointer;
  width: fit-content;
}

.headline-wrapper {
  padding: 10rem 2rem 6rem;
}

#headline h2 {
  font-size: 4vw;
  font-weight: 400;
  color: #ec5242;
  letter-spacing: .01rem;
}

#headline h1 {
  font-family: Cocogoose, sans-serif;
  font-size: 7vw;
  font-weight: 400;
  color: #ec5242;
}

#headline p {
  font-size: 1.2rem;
  color: #272a31;
  border: 5px solid white;
  padding: 1rem;
  margin-top: 2rem;
  background: #f7f7f7;
}

#headline h3 {
  font-size: 2.5rem;
  padding-top: 1.5rem;
  color: #272a31;
}

#headline h4 {
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 0.5rem;
  color: #272a31;
}

/* Program */
#program {
  background-image: url("./media/pattern_bg.png");
  background-repeat: repeat;
  background-color: rgb(39, 42, 50);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2.8rem;
}

.cards {
  display: flex;
  flex-direction: column;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5 {
  background: #272a31;
  display: grid;
  grid-template-columns: 2fr 2fr 6fr;
  align-items: center;
  column-gap: 0.8rem;
  padding: 1rem;
  min-height: 7rem;
  margin-bottom: 1rem;
  opacity: 0.8;
  transition: all 0.5s ease-in-out;
  border: 2px solid transparent;
}

.card-1:active,
.card-1:hover,
.card-2:active,
.card-2:hover,
.card-3:active,
.card-3:hover,
.card-4:active,
.card-4:hover,
.card-5:active,
.card-5:hover {
  border: 2px solid #d3d3d3;
}

.cards h3 {
  font-size: 1.4rem;
  color: #ec5242;
}

.cards p {
  font-weight: normal;
  color: #d3d3d3;
}

.cards i {
  color: #d3d3d3;
  font-size: 2.5rem;
}

.btn-program {
  align-self: center;
  text-align: center;
  padding: 1.5rem;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 600;
  width: 30rem;
  color: #d3d3d3;
  background-color: #ec5242;
  margin: 3rem 0;
  border: 2px solid transparent;
}

.btn-program:hover {
  border: 2px solid #d3d3d3;
}

/* Features */
#features {
  display: flex;
  flex-direction: column;
  margin: 3rem 2.8rem;
  align-items: center;
}

#films {
  align-self: center;
  display: flex;
  flex-direction: column;
}

.films {
  display: flex;
  align-items: flex-start;
  margin-bottom: 3.5rem;
  max-width: 54rem;
  column-gap: 20px;
}

.film-img-wrapper {
  padding: 10px 0 0 10px;
  background-image: url(./media/films/checkered.png);
  background-size: 50px 50px;
  background-position: 0 0;
  background-repeat: no-repeat;
}

.film-img-wrapper img {
  max-width: 20.8rem;
  height: auto;
}

.film-details {
  display: flex;
  flex-direction: column;
}

.film-details h3 {
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 2rem;
  color: #272a31;
}

.film-details h4 {
  line-height: 2rem;
  font-weight: 400;
  font-style: italic;
  color: #ec5242;
}

.separator2 {
  width: 2rem;
  height: 2px;
  background: #d3d3d3;
  margin: 0.3rem 0.2rem;
}

.film-details p {
  line-height: 1.8rem;
  font-weight: normal;
  color: #272a31;
}

/* Footer */
#partners {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #272a31;
  padding: 2.5rem 0;
}

#partners .separator {
  margin-bottom: 1rem;
}

.partners {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 50px;
}

.partners img {
  max-width: 150px;
  height: auto;
}

#copyright {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
}

#copyright img {
  display: block;
  margin-right: 1.5rem;
  width: 10.9rem;
  height: auto;
}

/* About */
#about-main {
  width: 100%;
  background-color: #f7f7f8;
  background-image: url("./media/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

#about-main h2 {
  font-size: 4vw;
  font-weight: 400;
  color: #ec5242;
  letter-spacing: .01rem;
  text-align: center;
}

#about-main h1 {
  font-family: Cocogoose, sans-serif;
  font-size: 7vw;
  font-weight: 400;
  color: #ec5242;
  text-align: center;
}

p.about-festival {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #272a31;
  border: 2px solid #d3d3d3;
  padding: 1rem;
  margin-top: 2rem;
  background: white;
}

p.contact-text {
  margin-top: 2rem;
  text-align: center;
  line-height: 2rem;
}

p.contact-email {
  font-weight: 800;
  line-height: 2rem;
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
  margin: auto;
  width: fit-content;
}

.about-wrapper {
  padding: 1rem 2rem 4rem;
}

#about-institute div.institute-text {
  font-size: 1.2rem;
  line-height: 2rem;
  color: #272a31;
  border: 2px solid #d3d3d3;
  padding: 1rem;
  margin-top: 2rem;
  background: white;
}

#about-institute p:nth-child(1) {
  font-weight: 800;
  text-align: center;
  margin-bottom: 2rem;
}

#about-institute img {
  margin-left: 40%;
  width: 180px;
}

#about-past {
  background-color: #d3d3d3;
}

.past-wrapper {
  padding: 1rem 2rem 4rem;
}

#about-past img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.past-card-container {
  margin: 2rem 2rem 4rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.past-card {
  position: relative;
}

.image-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(236, 82, 66, 0.5);
  transition: all 0.5s;
  cursor: pointer;
}

.image-overlay:hover {
  background: rgba(128, 128, 128, 0.8);
}

.past-card h3 {
  position: absolute;
  top: 45%;
  left: 40%;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 3.6rem;
  font-weight: 600;
}

@media only screen and (min-width: 768px) {
  .headline-wrapper {
    padding: 10rem 18rem 10rem 4rem;
  }

  .cards {
    flex-direction: row;
        gap: 0.3rem;
  }

  .card-1, .card-2, .card-3, .card-4, .card-5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    max-width: 14rem;
    gap: 1rem;
    text-align: center;
  }
}
